@import 'fonts/whitney_ssm_a.css';

.safe {
   font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif !important;
}

body {
   font-family: "Whitney SSm A", sans-serif !important;
}

a {
   text-decoration: none;
}

h1 {
   font-size: 33px !important;
   font-weight: bold !important;
   text-transform: uppercase !important;
}
